@tailwind base;
@tailwind components;
@tailwind utilities;

.zig-zag {
    background: linear-gradient(-45deg, transparent 16px, #fff 0), linear-gradient(45deg, transparent 16px, #fff  0);
    background-repeat: repeat-x;
    background-position: left bottom;
    background-size: 16px 30px;
    content: "";
    display: block;
}
