<a href="{{ url }}"
   class="relative inline-flex justify-center items-center w-9 h-9 text-sm font-semibold text-gray-500 bg-white rounded-full transition ease-in-out duration-150
                                                       {{ hoverColours[{page % 5}] }} hover:text-white
                                                       focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue
                                                       active:bg-gray-100 active:text-gray-500">
    {{ page }}
</a>

